In [16]:
from data_source import MarketPriceData
import MetaTrader5 as mt5

# Broker credentials
login = 51439076
server = "ICMarketsSC-Demo"
password = "vwYYuaZt"
fetcher = MarketPriceData(login=login, server=server, password=password)

# Choose asset class, timeframe, date range, and number of rows to be fetched
asset = "EURUSD"
timeframe = mt5.TIMEFRAME_M1
date_from = None
bars = 1000

# Print data
data = fetcher.fetch_data(asset=asset, timeframe=timeframe, date_from=date_from, bars=bars)
data.drop("real_volume", axis=1, inplace=True)

# Adding Technical Indicator Data

In [17]:
import numpy as np
import pandas as pd
import pandas_ta as ta
import talib

data.rename(columns={'tick_volume':'volume'}, inplace=True)
data.set_index(pd.DatetimeIndex(data["time"]), inplace=True)
data.ta.strategy(ta.AllStrategy, verbose=True, timed=True)

data = data.drop('time', axis=1)

[+] Strategy: All
[i] Indicator arguments: {'timed': True, 'append': True}
[i] Excluded[12]: above, above_value, below, below_value, cross, cross_value, long_run, short_run, td_seq, tsignals, vp, xsignals
[i] Multiprocessing 131 indicators with 3 chunks and 8/8 cpus.
[i] Total indicators: 131
[i] Columns added: 278
[i] Last Run: Thursday November 9, 2023, NYSE: 14:25:55, Local: 18:25:55 Eastern Standard Time, Day 313/365 (86.00%)
[i] Runtime: 5477.9100 ms (5.4779 s)

In [18]:
data

,open,high,low,close,volume,spread,ABER_ZG_5_15,ABER_SG_5_15,ABER_XG_5_15,ABER_ATR_5_15,...,VIDYA_14,VTXP_14,VTXM_14,VWAP_D,VWMA_10,WCP,WILLR_14,WMA_10,ZL_EMA_10,ZS_30
time,,,,,,,,,,,,,,,,,,,,,
2023-11-09 06:46:00,1.07101,1.07102,1.07096,1.07096,14,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070980,NaN,1.070975,NaN,NaN,NaN,NaN
2023-11-09 06:47:00,1.07096,1.07101,1.07094,1.07100,11,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070981,NaN,1.070987,NaN,NaN,NaN,NaN
2023-11-09 06:48:00,1.07100,1.07106,1.07100,1.07104,13,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070999,NaN,1.071035,NaN,NaN,NaN,NaN
2023-11-09 06:49:00,1.07105,1.07107,1.07102,1.07102,14,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.071009,NaN,1.071033,NaN,NaN,NaN,NaN
2023-11-09 06:50:00,1.07102,1.07114,1.07102,1.07114,11,0,1.071027,NaN,NaN,NaN,...,NaN,NaN,NaN,1.071025,NaN,1.071110,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-09 23:21:00,1.06673,1.06674,1.06668,1.06673,17,0,1.066715,1.066796,1.066634,0.000081,...,1.066688,0.891566,1.156627,1.069573,1.066734,1.066720,-56.666667,1.066725,1.066727,0.647244
2023-11-09 23:22:00,1.06673,1.06673,1.06668,1.06668,18,0,1.066718,1.066797,1.066639,0.000079,...,1.066688,0.844156,1.207792,1.069572,1.066727,1.066693,-65.217391,1.066714,1.066713,0.343552
2023-11-09 23:23:00,1.06669,1.06670,1.06668,1.06668,10,0,1.066713,1.066788,1.066638,0.000075,...,1.066688,0.831169,1.142857,1.069571,1.066722,1.066685,-65.217391,1.066706,1.066698,0.295125
2023-11-09 23:24:00,1.06668,1.06668,1.06666,1.06667,12,0,1.066699,1.066771,1.066628,0.000071,...,1.066687,0.813333,1.186667,1.069571,1.066711,1.066670,-65.000000,1.066698,1.066682,0.177513
2023-11-09 23:25:00,1.06666,1.06666,1.06662,1.06662,13,0,1.066681,1.066750,1.066611,0.000070,...,1.066684,0.769231,1.153846,1.069570,1.066693,1.066630,-90.000000,1.066683,1.066650,-0.186948

In [19]:
threshold = len(data) * 0.80
data = data.dropna(axis='columns', thresh=threshold)

In [20]:
data

,open,high,low,close,volume,spread,ABER_ZG_5_15,ABER_SG_5_15,ABER_XG_5_15,ABER_ATR_5_15,...,VIDYA_14,VTXP_14,VTXM_14,VWAP_D,VWMA_10,WCP,WILLR_14,WMA_10,ZL_EMA_10,ZS_30
time,,,,,,,,,,,,,,,,,,,,,
2023-11-09 06:46:00,1.07101,1.07102,1.07096,1.07096,14,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070980,NaN,1.070975,NaN,NaN,NaN,NaN
2023-11-09 06:47:00,1.07096,1.07101,1.07094,1.07100,11,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070981,NaN,1.070987,NaN,NaN,NaN,NaN
2023-11-09 06:48:00,1.07100,1.07106,1.07100,1.07104,13,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.070999,NaN,1.071035,NaN,NaN,NaN,NaN
2023-11-09 06:49:00,1.07105,1.07107,1.07102,1.07102,14,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.071009,NaN,1.071033,NaN,NaN,NaN,NaN
2023-11-09 06:50:00,1.07102,1.07114,1.07102,1.07114,11,0,1.071027,NaN,NaN,NaN,...,NaN,NaN,NaN,1.071025,NaN,1.071110,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-09 23:21:00,1.06673,1.06674,1.06668,1.06673,17,0,1.066715,1.066796,1.066634,0.000081,...,1.066688,0.891566,1.156627,1.069573,1.066734,1.066720,-56.666667,1.066725,1.066727,0.647244
2023-11-09 23:22:00,1.06673,1.06673,1.06668,1.06668,18,0,1.066718,1.066797,1.066639,0.000079,...,1.066688,0.844156,1.207792,1.069572,1.066727,1.066693,-65.217391,1.066714,1.066713,0.343552
2023-11-09 23:23:00,1.06669,1.06670,1.06668,1.06668,10,0,1.066713,1.066788,1.066638,0.000075,...,1.066688,0.831169,1.142857,1.069571,1.066722,1.066685,-65.217391,1.066706,1.066698,0.295125
2023-11-09 23:24:00,1.06668,1.06668,1.06666,1.06667,12,0,1.066699,1.066771,1.066628,0.000071,...,1.066687,0.813333,1.186667,1.069571,1.066711,1.066670,-65.000000,1.066698,1.066682,0.177513
2023-11-09 23:25:00,1.06666,1.06666,1.06662,1.06662,13,0,1.066681,1.066750,1.066611,0.000070,...,1.066684,0.769231,1.153846,1.069570,1.066693,1.066630,-90.000000,1.066683,1.066650,-0.186948

In [92]:
# Function to replace NaNs and infinite values with the mean for each column
def replace_with_mean(df):
    for column in df.columns:
        if df[column].dtype.kind in 'fc':  # f for float and c for complex numbers
            # Calculate mean without considering inf values
            mean_val = df[column].replace([np.inf, -np.inf], np.nan).mean()
            # Replace NaNs and infs with the calculated mean
            df[column] = df[column].replace([np.inf, -np.inf], mean_val).fillna(mean_val)
    return df

# Apply the function to the 'data' dataframe
data = replace_with_mean(data)

In [93]:
print(data.head)

<bound method NDFrame.head of                         open     high      low    close  volume  spread  \
time
2023-11-08 00:10:00  1.06999  1.06999  1.06994  1.06994       4      13
2023-11-08 00:11:00  1.06994  1.06994  1.06994  1.06994       1      23
2023-11-08 00:12:00  1.06994  1.06994  1.06994  1.06994       1      23
2023-11-08 00:13:00  1.06994  1.06994  1.06994  1.06994       1      23
2023-11-08 00:14:00  1.06994  1.06994  1.06994  1.06994       1      23
...                      ...      ...      ...      ...     ...     ...
2023-11-08 01:45:00  1.06974  1.06976  1.06974  1.06974       6       0
2023-11-08 01:46:00  1.06974  1.06974  1.06970  1.06974       8       0
2023-11-08 01:47:00  1.06974  1.06974  1.06969  1.06972       7       0
2023-11-08 01:48:00  1.06972  1.06972  1.06970  1.06970       2       0
2023-11-08 01:49:00  1.06970  1.06970  1.06968  1.06969       3       0

                     ABER_ZG_5_15          AD  ADOSC_3_10  ALMA_10_6.0_0.85  \
time
2023-11-08 00:10:00      1.069782   -4.000000   -3.488370          1.057892
2023-11-08 00:11:00      1.069782   -4.000000   -3.488370          1.057892
2023-11-08 00:12:00      1.069782   -4.000000   -3.488370          1.057892
2023-11-08 00:13:00      1.069782   -4.000000   -3.488370          1.057892
2023-11-08 00:14:00      1.069943   -4.000000   -3.488370          1.057892
...                           ...         ...         ...               ...
2023-11-08 01:45:00      1.069740 -100.019617   -1.206149          1.069749
2023-11-08 01:46:00      1.069739  -92.019617    0.638006          1.069750
2023-11-08 01:47:00      1.069734  -90.619617    1.779887          1.069751
2023-11-08 01:48:00      1.069727  -92.619617    1.448849          1.069748
2023-11-08 01:49:00      1.069717  -92.619617    1.181710          1.069740

                     ...  TOS_STDEVALL_U_2  TOS_STDEVALL_L_3  \
time                 ...
2023-11-08 00:10:00  ...          1.070098          1.069608
2023-11-08 00:11:00  ...          1.070095          1.069606
2023-11-08 00:12:00  ...          1.070093          1.069603
2023-11-08 00:13:00  ...          1.070090          1.069601
2023-11-08 00:14:00  ...          1.070088          1.069598
...                  ...               ...               ...
2023-11-08 01:45:00  ...          1.069865          1.069376
2023-11-08 01:46:00  ...          1.069863          1.069373
2023-11-08 01:47:00  ...          1.069860          1.069371
2023-11-08 01:48:00  ...          1.069858          1.069368
2023-11-08 01:49:00  ...          1.069855          1.069366

                     TOS_STDEVALL_U_3  TRIMA_10  TRUERANGE_1  TTM_TRND_6  \
time
2023-11-08 00:10:00          1.070196  1.069776     0.000059          -1
2023-11-08 00:11:00          1.070193  1.069776     0.000000          -1
2023-11-08 00:12:00          1.070191  1.069776     0.000000          -1
2023-11-08 00:13:00          1.070188  1.069776     0.000000          -1
2023-11-08 00:14:00          1.070186  1.069776     0.000000          -1
...                               ...       ...          ...         ...
2023-11-08 01:45:00          1.069963  1.069746     0.000020          -1
2023-11-08 01:46:00          1.069961  1.069744     0.000040           1
2023-11-08 01:47:00          1.069958  1.069742     0.000050          -1
2023-11-08 01:48:00          1.069956  1.069739     0.000020          -1
2023-11-08 01:49:00          1.069953  1.069734     0.000020          -1

                       VWAP_D   VWMA_10       WCP    WMA_10
time
2023-11-08 00:10:00  1.069957  1.069767  1.069952  1.069773
2023-11-08 00:11:00  1.069953  1.069767  1.069940  1.069773
2023-11-08 00:12:00  1.069951  1.069767  1.069940  1.069773
2023-11-08 00:13:00  1.069950  1.069767  1.069940  1.069773
2023-11-08 00:14:00  1.069948  1.069767  1.069940  1.069773
...                       ...       ...       ...       ...
2023-11-08 01:45:00  1.069784  1.069745  1.069745  1.069743
2023-11-08 01:46:00  1.069783  1.069742  1.069730  1.069742
2023-11-08 01:47:00  1.069783  1.069738  1.069717  1.069738
2023-11-08 01:48:00  1.069783  1.069736  1.069705  1.069730
2023-11-08 01:49:00  1.069783  1.069730  1.069690  1.069721

[100 rows x 162 columns]>

In [83]:
data.to_csv('eurusd_small_ta.csv', index=True)

# Target Variable

In [79]:
from data_source import MarketPriceData
import MetaTrader5 as mt5
from datetime import datetime

# Broker credentials
login = 51439076
server = "ICMarketsSC-Demo"
password = "vwYYuaZt"
fetcher = MarketPriceData(login=login, server=server, password=password)

# Choose asset class, timeframe, date range, and number of rows to be fetched

utc_from = datetime(2023, 11, 8, 1)

asset = "EURUSD"
timeframe = mt5.TIMEFRAME_M15
date_from = utc_from
bars = 2500

# Print data
data = fetcher.fetch_data(asset=asset, timeframe=timeframe, date_from=date_from, bars=bars)
data.drop(['real_volume', 'spread', 'tick_volume'], axis=1, inplace=True)


import pandas as pd
import numpy as np

def identify_candlestick(df):
    # Define the threshold for a 'little to no shadow' as a percentage of the candle range
    shadow_threshold = 0.05
    
    # Define the threshold for a doji to be considered as having approximately equal open and close
    doji_threshold = (df['high'] - df['low']) * 0.1

    # Initialize the candlestick pattern column to 'Neutral'
    df['candlestick_pattern'] = 'Neutral'

    # Calculate the necessary values within the function scope
    body = abs(df['close'] - df['open'])
    upper_shadow = df['high'] - df[['open', 'close']].max(axis=1)
    lower_shadow = df[['open', 'close']].min(axis=1) - df['low']

    # Conditions for candlestick patterns
    bullish_marubozu_cond = ((df['close'] > df['open']) & 
                              (upper_shadow <= shadow_threshold * body) & 
                              (lower_shadow <= shadow_threshold * body))

    bearish_marubozu_cond = ((df['open'] > df['close']) & 
                              (upper_shadow <= shadow_threshold * body) & 
                              (lower_shadow <= shadow_threshold * body))

    bullish_doji_cond = (abs(df['close'] - df['open']) <= doji_threshold) & (df['close'] < df['open'])
    
    bearish_doji_cond = (abs(df['close'] - df['open']) <= doji_threshold) & (df['close'] > df['open'])

    # Assigning candlestick patterns
    df.loc[bullish_marubozu_cond, 'candlestick_pattern'] = 'Bullish Marubozu'
    df.loc[bearish_marubozu_cond, 'candlestick_pattern'] = 'Bearish Marubozu'
    df.loc[bullish_doji_cond, 'candlestick_pattern'] = 'Bullish Doji'
    df.loc[bearish_doji_cond, 'candlestick_pattern'] = 'Bearish Doji'
    df.loc[(df['close'] > df['open']) & ~(bullish_marubozu_cond | bullish_doji_cond), 'candlestick_pattern'] = 'Regular Bullish'
    df.loc[(df['open'] > df['close']) & ~(bearish_marubozu_cond | bearish_doji_cond), 'candlestick_pattern'] = 'Regular Bearish'

    return df



target_variable = identify_candlestick(data)

In [80]:
target_variable['candlestick_pattern'].value_counts()

Regular Bullish     1208
Regular Bearish     1184
Bullish Marubozu      42
Neutral               37
Bearish Marubozu      29
Name: candlestick_pattern, dtype: int64

In [81]:
target_variable.to_csv('target_variable.csv')