In [3]:
from data_source import MarketPriceData
import MetaTrader5 as mt5

# Broker credentials
login = 51439076
server = "ICMarketsSC-Demo"
password = "vwYYuaZt"
fetcher = MarketPriceData(login=login, server=server, password=password)

# Choose asset class, timeframe, date range, and number of rows to be fetched
asset = "EURUSD"
timeframe = mt5.TIMEFRAME_M1
date_from = None
bars = 1000000

# Print data
data = fetcher.fetch_data(asset=asset, timeframe=timeframe, date_from=date_from, bars=bars)
data.drop("real_volume", axis=1, inplace=True)

In [2]:
data

,time,open,high,low,close,tick_volume,spread
0,2021-11-22 21:18:00,56694.03,56703.45,56590.12,56619.62,99,1761
1,2021-11-22 21:19:00,56619.62,56658.12,56517.80,56517.80,148,2071
2,2021-11-22 21:20:00,56517.80,56546.78,56455.69,56466.17,120,2195
3,2021-11-22 21:21:00,56466.17,56482.17,56276.42,56402.42,168,2951
4,2021-11-22 21:22:00,56389.92,56413.42,56237.60,56312.22,117,1917
...,...,...,...,...,...,...,...
999995,2023-11-02 17:07:00,34928.09,34937.37,34895.53,34895.53,200,1005
999996,2023-11-02 17:08:00,34895.20,34935.65,34883.15,34927.06,180,979
999997,2023-11-02 17:09:00,34929.12,34929.12,34871.91,34875.41,187,980
999998,2023-11-02 17:10:00,34876.91,34881.65,34826.00,34844.08,222,978
999999,2023-11-02 17:11:00,34845.02,34845.02,34756.07,34799.02,151,1053