In [50]:
from data_source import MarketPriceData

login = 51439076
server = "ICMarketsSC-Demo"
password = "vwYYuaZt"
fetcher = MarketPriceData(login=login, server=server, password=password)

assets = "EURUSD"
timeframe = mt5.TIMEFRAME_M1
date_from = None
bars = 4000000

data = fetcher.fetch_data(asset=assets, timeframe=timeframe, date_from=date_from, bars=bars)
data.drop("real_volume", axis=1, inplace=True)

In [51]:
data

,time,open,high,low,close,tick_volume,spread
0,2013-01-09 11:15:00,1.30743,1.30743,1.30716,1.30719,59,8
1,2013-01-09 11:16:00,1.30718,1.30732,1.30714,1.30718,35,8
2,2013-01-09 11:17:00,1.30715,1.30724,1.30706,1.30724,24,9
3,2013-01-09 11:18:00,1.30723,1.30730,1.30723,1.30726,17,8
4,2013-01-09 11:19:00,1.30725,1.30729,1.30688,1.30698,44,8
...,...,...,...,...,...,...,...
3999995,2023-11-01 00:26:00,1.05752,1.05752,1.05751,1.05752,5,4
3999996,2023-11-01 00:27:00,1.05752,1.05752,1.05745,1.05747,9,4
3999997,2023-11-01 00:28:00,1.05748,1.05755,1.05748,1.05755,5,3
3999998,2023-11-01 00:29:00,1.05755,1.05758,1.05739,1.05744,12,4
3999999,2023-11-01 00:30:00,1.05736,1.05742,1.05736,1.05739,10,20